{% extends 'home/base.html' %} {% block content %} {% load static %}
<div class="chose_area ">
    <div class="container">
        <div class="features_main_wrap">
            <div class="row  align-items-center">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div class="about_image">
                        <img src="{% static 'img/about/about.png' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="features_info">
                        <h3>Why Choose Us?</h3>

                        <h3>100% secure and safe</h3>
                        <p>Welcome to SOT IMPEX. We provide a one stop business solutions along with hands on/proven expertise in diverse segments. Our portfolio of services covers a wide range of business interventions, with our senior advisers having extensive
                            experience. We hope and look forward to meet our clients personally to develop a relationship through one-on-one interaction shortly.</p>
                        <div class="about_btn">
                            <a class="boxed-btn3-line" href="{% url 'contactus'%}">Contact Us</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--/ chose_area  -->

<!-- counter_area  -->

<!-- /counter_area  -->
<!-- contact_action_area  -->
<div class="contact_action_area ">
    <div class="container ">
        <div class="row align-items-center ">
            <div class="col-xl-7 col-md-6 ">
                <div class="action_heading ">

                </div>
            </div>
            <div class="col-xl-5 col-md-6 ">
                <div class="call_add_action ">
                    <a href="# " class="boxed-btn3 ">+92 300 4330318</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /contact_action_area  -->


<!-- testimonial_area  -->
<div class="testimonial_area ">
    <div class="container ">
        <div class="row ">
            <div class="col-xl-7 ">
                <div class="testmonial_active owl-carousel ">
                    <div class="single_carousel ">
                        <div class="single_testmonial text-center ">
                            <div class="quote ">
                                <img src="{% static 'img/svg_icon/quote.svg '%} " alt=" ">
                            </div>
                            <p>We as a firm, firmly believes that customers are our most valuable asset in our service, providing every day business activity.</p>
                            <div class="testmonial_author ">
                                <div class="thumb ">
                                    <img src="{% static 'img/case/test.png'%} " alt=" ">
                                </div>
                                <h3>Shakil Ahmed Khan</h3>
                                <span>CEO</span>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel ">
                        <div class="single_testmonial text-center ">
                            <div class="quote ">
                                <img src="{% static 'img/svg_icon/quote.svg '%} " alt=" ">
                            </div>
                            <p>
                                Our aim is simple - to provide Best in class solution to enhance business delivery. We here at this moment confirm our commitment with ourselves and to our customers for providing the best quality products making every single effort to achieve.

                            </p>
                            <div class="testmonial_author ">
                                <div class="thumb ">
                                    <img src="{% static 'img/case/test.png'%} " alt=" ">
                                </div>
                                <h3>Shakil Ahmed Khan</h3>
                                <span>CEO</span>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel ">
                        <div class="single_testmonial text-center ">
                            <div class="quote ">
                                <img src="{% static 'img/svg_icon/quote.svg '%} " alt=" ">
                            </div>
                            <p> The best available sources are to be applied by providing highest professional personals. We want to be seen as the company of choice by our Clients. But even more, we want to be considered their trusted advisor, capable of
                                delivering a product on time, on budget and we hope, beyond their expectations.</p>
                            <div class="testmonial_author ">
                                <div class="thumb ">
                                    <img src="{% static 'img/case/test.png '%} " alt=" ">
                                </div>
                                <h3>Shakil Ahmed Khan</h3>
                                <span>CEO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->

<!-- Estimate_area start  -->
<div class="Estimate_area overlay ">
    <div class="container ">
        <div class="row ">
            <div class="col-xl-4 col-lg-4 col-md-5 ">
                <div class="Estimate_info ">
                    <h3>Get free Estimate</h3>
                    <p>SOT IMPEX, is a company specialized in the testing and certification of HVAC. All works are supervised and certified by licensed engineers specialized in this field and using standards and procedures of the most recognized agencies
                        and related organizations for the testing and balancing specialization. This experienced and specialized knowledge makes MECSOL Engineering, not only the best choice when you need to evaluate, test, adjust or modify your engineered
                        HVAC, it is also the way that you obtain an “engineered service for your engineered system”
                    </p>
                    <a href="# " class="boxed-btn3 ">+92 300 4330318</a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-7 ">
                <div class="form ">

                    <form method="POST">
                        {% csrf_token %}
                        <div class="row ">

                            <div class="col-xl-6 ">
                                <div class="input_field ">
                                    <input type="text " placeholder="Your name" name="name">
                                </div>
                            </div>
                            <div class="col-xl-6 ">
                                <div class="input_field ">
                                    <input type="email " placeholder="Email" name="email">
                                </div>
                            </div>
                            <div class="col-xl-6 ">
                                <div class="input_field ">
                                    <input type="text " placeholder="phone number" name="ph_no">
                                </div>
                            </div>
                            <div class="col-xl-6 ">
                                <div class="input_field ">
                                    <input type="text " placeholder="service" name="service">
                                </div>
                            </div>



                            <div class="col-xl-12 ">
                                <div class="input_field ">
                                    <textarea placeholder="write your query " name="message"></textarea>
                                </div>
                            </div>
                            <div class="col-xl-12 ">
                                <div class="input_field ">
                                    <button class="boxed-btn3-line " type="submit ">Send Estimate</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Estimate_area end  -->

<!-- contact_location  -->



{% endblock content %}