{% extends 'home/base.html' %} {% block content %} {% load static %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Our Services</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- service_area  -->
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="{% static 'img/service/real.jpeg''%}" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Cling</a></h3>
                        <p> Cassette Type (Four-way ceiling concealed unit).Clear Stretch Film Wrap Film for Moving, Shipping, Packing Furniture, Boxes, Pallet Wrapping, Heavy Duty Shrink Wrap, Durable Self-Adhering Cling Wrap, Multipurpose Heavy Duty Shrink
                            Film</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="{% static 'img/service/cam.jpeg' %}" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">CCTV Camera</a></h3>
                        <p>At SOT IMPEX, we are a one stop IT Solution Provider specializing in Security Camera Systems </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">

                <div class="single_service">
                    <div class="thumb">
                        <img src="{% static 'img/service/dd.jpeg'%}" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Architecture, Engineering & Design</a></h3>
                        <p> We are the authority for completing construction projects in environmentally sensitive surroundings.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="{% static 'img/service/office.jpeg' %}" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Office supplies</a></h3>
                        <p>We’ve got all your office supply and equipment needs covered. With us, you can be assured</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">

                <div class="single_service">
                    <div class="thumb">
                        <img src="{% static 'img/service/env.png'%}" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">HVAC& R</a></h3>
                        <p>SOT IMPEX, is a company specialized in the testing and certification of HVAC.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">

                <div class="single_service">
                    <div class="thumb">
                        <img src="{% static 'img/service/main.png'%}" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">MAINTENANCE MODIFICATION </a></h3>
                        <p>In maintenance modification of after sale service segmented by rich customer service facilitation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ service_area  -->

<!-- contact_action_area  -->
<div class="contact_action_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-md-6">
                <div class="action_heading">
                    <h3>100% secure and safe</h3>
                    <p>Welcome to SOT IMPEX. We provide a one stop business solutions along with hands on/proven expertise in diverse segments. Our portfolio of services covers a wide range of business interventions, with our senior advisers having extensive
                        experience. We hope and look forward to meet our clients personally to develop a relationship through one-on-one interaction shortly.</p>
                </div>
            </div>
            <div class="col-xl-5 col-md-6">
                <div class="call_add_action">
                    <a href="#" class="boxed-btn3">+92 300 4330318</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /contact_action_area  -->

<!-- chose_area  -->
<div class="chose_area ">
    <div class="container">
        <div class="features_main_wrap">
            <div class="row  align-items-center">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div class="about_image">
                        <img src="{% static 'img/about/about.png'%}" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="features_info">
                        <h3>Why Choose Us?</h3>
                        <p>SOT IMPEX, is a company specialized in the testing and certification of HVAC. All works are supervised and certified by licensed engineers specialized in this field and using standards and procedures of the most recognized agencies
                            and related organizations for the testing and balancing specialization. This experienced and specialized knowledge makes MECSOL Engineering, not only the best choice when you need to evaluate, test, adjust or modify your engineered
                            HVAC, it is also the way that you obtain an “engineered service for your engineered system”
                        </p>
                        <ul>
                            <li> Wall mounted (Wall-mounted air-conditioners.) </li>
                            <li>Cassette Type (Four-way ceiling concealed unit) </li>
                            <li> Single Throw (one-way ceiling concealed unit)</li>
                            <li>Ceiling Concealed (Low-static duct type)</li>
                            <li>Portable A/C (Air-conditioners without the installation)</li>
                        </ul>

                        <div class="about_btn">
                            <a class="boxed-btn3-line" href="{% url 'aboutus'%}">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ chose_area  -->

<!-- counter_area  -->

<!-- /counter_area  -->

<!-- Estimate_area start  -->
<div class="Estimate_area overlay ">
    <div class="container ">
        <div class="row ">
            <div class="col-xl-4 col-lg-4 col-md-5 ">
                <div class="Estimate_info ">
                    <h3>Get free Estimate</h3>
                    <p>SOT IMPEX, is a company specialized in the testing and certification of HVAC. All works are supervised and certified by licensed engineers specialized in this field and using standards and procedures of the most recognized agencies
                        and related organizations for the testing and balancing specialization. This experienced and specialized knowledge makes MECSOL Engineering, not only the best choice when you need to evaluate, test, adjust or modify your engineered
                        HVAC, it is also the way that you obtain an “engineered service for your engineered system”
                    </p>
                    <a href="# " class="boxed-btn3 ">+92 300 4330318</a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-7 ">
                <div class="form ">

                    <form method="POST">
                        {% csrf_token %}
                        <div class="row ">

                            <div class="col-xl-6 ">
                                <div class="input_field ">
                                    <input type="text " placeholder="Your name" name="name">
                                </div>
                            </div>
                            <div class="col-xl-6 ">
                                <div class="input_field ">
                                    <input type="email " placeholder="Email" name="email">
                                </div>
                            </div>
                            <div class="col-xl-6 ">
                                <div class="input_field ">
                                    <input type="text " placeholder="phone number" name="ph_no">
                                </div>
                            </div>
                            <div class="col-xl-6 ">
                                <div class="input_field ">
                                    <input type="text " placeholder="service" name="service">
                                </div>
                            </div>



                            <div class="col-xl-12 ">
                                <div class="input_field ">
                                    <textarea placeholder="write your query " name="message"></textarea>
                                </div>
                            </div>
                            <div class="col-xl-12 ">
                                <div class="input_field ">
                                    <button class="boxed-btn3-line " type="submit ">Send Estimate</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Estimate_area end  -->

<!-- contact_location  -->

{% endblock content %}

<!--/ contact_location  -->